<div class="headerContainer">
    <video class="kdaClip" playsinline="" autoplay="" [muted]="'muted'" loop="">
        <source id="video" src="../../assets/videos/kdaPopStarsHD.mp4" type="video/mp4">
    </video>
    <div class="searchCard">
        <div class="labelContainer">
            <label class="summonerLabel" for="summonerInput">Summoner Name</label>
        </div>
        <div class="inputContainer">
            <input type="text" class="summonerInput">
        </div>
        <div class="buttonContainer">
            <button type="button" class="summonerButton">Track</button>
        </div>
    </div>
</div>
