<div class="sidebarContainer" [ngClass]="{'showSideBar' : sideBar == true, 'sideBarHover' : sideBarHover == true }">
    <div class="navbarContainer">
        <div class="sideBarTextContainer">
            <a class="sidebarLink" routerLink="../home">Home</a>
            <a class="sidebarLink" routerLink="../championInfos">Champions Wiki</a>
            <a class="sidebarLink" routerLink="../championStats">Champions Winrates</a>
        </div>
    </div>
    <div class="sideBarArrowContainer" (mouseover)="hoverSideBar()" (mouseout)="hoverSideBar()"  [ngClass]="{'rotateArrow' : sideBar == true}">
        <ion-icon id="sideBarButton" (click)="openSideBar()" name="chevron-forward-outline"></ion-icon>
    </div>
</div>
