@import "../../stylings/_colors.scss";
@import "../../stylings/_fonts.scss";

.championsWinratesContainer{
    background-color: $trackerSteelGrey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $trackerWhite;
    font-family: "Public Sans Regular";
}

.tableContainer{
    margin-top: 5vh;
    width: 80vw;
    height: 100%;
    backdrop-filter: blur(5px);
}

.tableIndexContainer{
    width: 100%;
    background-color: $trackerWhiteGlass;
    height: 5vh;
    display: flex;
}