$trackerBlack: black;
$trackerWhite: white;
$trackerLightGrey: lightgrey;
$trackerPurple: #6c00c4;
$trackerSteelGrey: #43464B;
$trackerDarkGrey: #1f1f1f;
$trackerLightGlass: rgba(211, 211, 211, 0.521);
$trackerWhiteGlass: rgba(255, 255, 255, 0.205);
$trackerDarkGlass: #212222b0;
$trackerShadow: rgba(48, 48, 48, 0.521);
$trackerTransluscent: rgba(255, 255, 255, 0);