$trackerBlack: black;
$trackerWhite: white;
$trackerLightGrey: lightgrey;
$trackerPurple: #6c00c4;
$trackerSteelGrey: #43464B;
$trackerGreyGlass: rgba(211, 211, 211, 0.521);
$trackerShadow: rgba(48, 48, 48, 0.521);