@font-face{
    font-family: "Public Sans Regular";
    src: url("../assets/fonts/PublicSans-Regular.ttf");
}

@font-face{
    font-family: "Public Sans Bold";
    src: url("../assets/fonts/PublicSans-Bold.ttf");
}